.no-change:visited {
    color: #007bff;
}

.no-change:active {
    color: red;
}

figure img {
    height: 450px;
}

.category {
    font-size: 18px;
    padding: 10px 0px;
}

.dw-title {
    text-align: center;
    font-size: 40px;
}

.dw-poster {
    text-align: center;
}

.left-align {
    text-align: left;
}

.table-title {
    font-size: 20px;
    margin-top: 40px;
    text-align:center;
}

table {
    margin: 5px auto;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #67dbc4;
}

#table-film-details th {
    width: 15%;
}

th#dog-name {
    width: 20%;
}

th#prominence {
    width: 10%;
}

th#breed {
    width: 20%;
}

th#appearance {
    width: 20%;
}

th#personality {
    width: 30%;
}

.widget {
    border: 2px solid black;
    margin: 20px 0px;
}

.widget li {
    list-style: none;
}

.widget li a {
    font-style: normal;
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.widget li a:active {
    color: blue;
}

.widget-title {
    color: white;
    background-color: #666;
    padding: 15px;
    margin: 0px;
}

.button li {
    display: inline-block;
    padding: 0px 7px;
    margin: 5px;
    background-color: #1abc9c;
}

.related-details {
    background-color: #ccc;
    display: inline-block;
    width: 45%;
    height: 110px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

a.norm p {
    color: black;
}

.norm {
    color: black;
    text-decoration: none;
    font-style: normal;
}

.title-link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: black;
}
