table,
th,
td {
    border: 1px solid black;
}

.category {
    font-size: 18px;
    padding: 10px 0px;
}

.dw-title {
    text-align: center;
    font-size: 40px;
}

.dw-poster {
    text-align: center;
}

table {
    margin: 5px auto;
}

.table-title {
    margin-top: 40px; 
    text-align:center;
}

th {
    background-color: #67dbc4;
}
