table,
th,
td {
    border: 1px solid black;
}

#footer {
    height: 50px;
}

.category {
    font-size: 20px;
    /* padding: 30px; */
    /* padding-left: 50px; */
}

/* h2 {
    font-weight: bold;
} */
/*
.container {
    margin: 10px;
    margin-left: 30px;
} */
