* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.center {
    text-align:center;
}

/* Sticky dw-navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the dw-navbar will inherit default position */
.dw-navbar {
  overflow: hidden;
  /* background-color: #333; */
  background: #1abc9c;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

/* Style the navigation bar links */
.dw-navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
  line-height: normal;
}

.dw-navbar form {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

/* Right-aligned search form */
.right {
  float: right;
}

.dw-search-field, #i {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    width: 250px;
    height: 35px;
    padding: 1px;
    border: none;
}

input.dw-search-submit, input [type=submit] {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #666;
    border: none;
    border-radius: 0;
    font: 400 13.3333px Arial;
}

.dw-search-submit:hover {
    background-color: black;
}

/* Change color on hover */
.dw-navbar a:hover {
  background-color: black;
  color: white;
}

/* Active/current link */
.dw-navbar a.active {
  background-color: #666;
  color: white;
}

.dw-navbar a.active:hover {
  background-color: black;
  color: white;
}

a #dw-navbar-logo {
    display: inline;
    height: 52.5px;
    padding: 0px;
}

a #dw-navbar-logo:hover, .dw-navbar a.a-logo {
    background: #1abc9c
}

a.a-logo {
    padding: 0px 10px;
}

#random-list {
    text-align: center;
}

#random-list a {
    text-decoration: none;
}

#random-list img {
    height: 225px;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 10px;
  background: #ddd;
  text-align: center;
}

#footer-logo {
    text-align: left;
    text-align: left;
    height: 125px;
    vertical-align: middle;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .dw-navbar a {
    float: none;
    width: 100%;
  }
}
